/* Stylings for home */
.navbar{
box-shadow: 0px 0px 4px 0px #666;
height: px;
}
.wrapper{
    background: linear-gradient(rgba(104, 101, 103, 0.5), rgba(104, 101, 103, 0.4))
    , url('../img/hero-bg.png') no-repeat;
    background-size: cover;
    height:600px;
  
}
.more{
    color:#33158C;
}
.hr{
 width:90px;
 height:2px !important;
 background-color:#22D7E3 ;
}

.what{
    border:1px solid rgb(226, 226, 226);
}
/* 
.invest {
    padding: 10px;
    transition: transform .60s;  
         border:1px solid #fff;
   
}
.invest-img {
    box-shadow: 0 0px 0px rgba(7, 6, 6, 0.925);
    transition: box-shadow 0.3s ease-in-out;
    -webkit-transition:5s;
  }
  
  .invest-img:hover {
    box-shadow: 0 3px 2px rgb(19, 19, 19);
    transform: scale(1.0);
    border:1px solid #666;
    
  } */
 
.btn-b{
    background-color: #33158C !important;
    border-radius:0px;
    height:45px;
    width: 145px;
    color:#fff;
    padding-top: 20px;


}
.btn-bn{
    background-color: #e7e7e7 !important;
    opacity: 0.40;
    width:200px;
    color:#33158C!important;
    
}
.btn-bnn{
    background-color: #33158C!important;
    /* opacity: 0.40; */
    width:200px;
    color: #e7e7e7 !important;
    border-radius:0px;

}
.btn-submit{
    color:#fff;
    background-color:#33158C;
    border-radius:0px;
    height: 60px;
     
}
#footer{
    background: url('../img/footer-bg.png') no-repeat;
    background-size: cover;
    height:90px;
    background-color: #2D2D2D;
    color:#fff;
    
}
.social{
    list-style: none;
    display: inline-block;
    border-radius:30px;
     width: 30px;
     height: 30px;
    border:3px solid #C4C4C4;
    text-align: center;
    color:#C4C4C4;
}

/* stylings for Contact us */
.contact-hero{
    background: linear-gradient(rgba(11, 32, 150, 0.5), rgba(11, 32, 150, 0.5)), url('../img/contact-bg.png') no-repeat;
    background-size: cover;
    height: 600px;
    color:#fff;
}
.form-contact{
    border-radius: 0px !important;
    
}
#subscribe{
    background-color: #33158C;
    padding:20px;
    color:#fff;
<<<<<<< HEAD
}
/* service */
.service{
    background:linear-gradient(rgba(11, 32, 150, 0.5), rgba(11, 32, 150, 0.5)), url('../img/service-bg.png') no-repeat;
    background-size:cover;
    height:600px;
  
}
.service-img{
    background-color: rgba(0, 0, 0, 0.16);
    box-shadow:0px 5px 5px 5px rgb(190, 190, 190);
}
.service-text{
    color:#33158C;
}
.service-btn{
    background-color: #33158C;
    color:#fff;
    height: 60px;
    border-radius:0px !important;
}
.service-img-2{
    background-color: rgba(0, 0, 0, 0.16);
    box-shadow:0px 5px 5px 5px rgb(190, 190, 190);
    
}
#sme{
    padding-top:4em;
    
}
#csr{
    background-color: #F9F9F9;
    padding-top:2em;
    padding-bottom:4em;
    }
    .btn-subcribe{
        background-color: #fff;
        color:#33158C !important;
    }
 
=======

}

/* Blog page CSS */
.p-18{
    font-size: 18px;
    font-weight: 600;
    /* font-family:"Open Sans"; */
    color:rgba(45, 45, 45, 0.5);
}
.p-18a{
    font-size: 18px;
    font-weight: 200;
    /* font-family:"Open Sans"; */
    color:rgba(45, 45, 45, 0.5); 
}
.p-24{
    font-size: 24px;
    font-weight:400;
    /* font-family:"Open Sans"; */
    /* color:rgba(45, 45, 45, 0.5); */
}
.p-188{
  font-size: 18px;
    font-weight: 400;
    /* font-family:"Open Sans"; */
    color:rgba(45, 45, 45, 0.5);
}
.p-16{
    font-size: 16px;
    font-weight: 600;
    font-family:"Open Sans" sans-serif;
}
.p-14{
    font-size: 14px;
    font-weight: 100;
    /* font-family:"Open Sans"; */
}
.readd{
    font-size: 14px;
    color:#33158C;
    font-weight: 600;
}
.p-62{
    font-size: 42px;
    font-weight: 600;
    /* font-family: "Nunito"; */
}
.hr1{
    /* width: 300px; */
    color: #2D2D2D; 
}
.iconn{
    border: 1px ridge #F2F2F2;
  padding: 30px 30px 30px 30px;

}
.icon{
    padding: 30px 0px 30px 0px;

}
.middle{
    /* border: 2px ridge #F2F2F2;  */
   box-shadow: 0px 0px 4px 0px #666;
  margin: 2px 5px 0px 2px;
  


}
.read{
    height:45px;
    width: 145px;
    background-color:#33158C;
    color:#fff;
    border-radius: 2%;
    /* padding: 15px; */
}
a:hover {
  color:#240e64;
  text-decoration: none;
}
ul{
  padding-right: 50px;
}
.feature{
  border: none;
}
.nextt{
  padding-top: 100px;
}
.navbar{
border: 1px solid #F2F2F2;
}
.recent{
  margin: 2px 5px 0px 2px;
}
.vr{
  height: 70px;
  width: 2px;
  border: 1px solid;

}
@media (max-width: 767px) {
  .col-md-3 {
    margin-bottom: 20px;
  }
  .navbar {
    margin-top: 20px;
  }
  .readd{
    position: relative !important;
	float: left !important;
	width: 100% !important;
	text-align: center !important;
  }
  .read{
    width: 100% !important;
  }
  .nextt{
    position: relative !important;
	float: left !important;
	width: 100% !important;
	text-align: center !important;
  }
  .car{
      border-style: none;
  }
}
/* End of blog */

/* About Page CSS */
#about-body {
    font-family: 'Open Sans', sans-serif;
  }
  .about-jumbo {
      background: linear-gradient(rgba(11, 32, 150, 0.5), rgba(11, 32, 150, 0.5)), url('../img/mypost.jpeg') no-repeat;
      background-size: cover;
      height:600px;
  }
  .hr{
      width:90px;
      height:2px !important;
      background-color:#22D7E3 ;
}
  .status {
    color: #10A9B3;
  }
  #testimony {
    background-color: #F9F9F9;
  }
  .test-image {
    border-radius: 100%;
    height: 170px;
    width: 180px;
  }
  .statement {
    color: #5C44A3;
  }
  .hyphen {
    color: #5C44A3;
    font-size: 30px;
  }
 
  .sub-button {
    background-color: #F9F9F9;
    color: #5C44A3;
    width: 140px;
    height: 50px;
    margin-top:10px;
  }
  .vert-line {
    border-left: 1px solid #C4C4C4;
    height: 30px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    /* padding-top: 10px; */
  }
  .hor-line {
      border-top: 1px solid #C4C4C4;
      width: 40px;
      position: relative;
      padding-top: 50px;
  }
  .jumbo-text {
      color: #C4C4C4;
  }
  .scroll {
      padding-top: 230px !important;
  }
  .description {
    position: absolute;
    left: 26%;
    padding-top: 40px;
  }
  /* End of About Page CSS */
>>>>>>> 8f08571351946ac46502a1f70e33e74355def2da
